body {
    background: linear-gradient(to right, rgb(192, 192, 209), rgb(164, 179, 164));
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

#headline {
    background: rgb(68, 68, 68);
    border-bottom: 2px solid rgb(32, 31, 31);
    color: whitesmoke;
    margin: -1%;
    padding: 2rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5% 5% 0 5%;
}

button {
    background: rgb(68, 68, 68);
    border: none;
    border-radius: 5px;
    box-shadow: .3rem .3rem .5rem gray;
    color: whitesmoke;   
    font-size: 1rem;
    padding: 1rem;
    height: 10%;
    width: 20%;
    transition: all .3s;
}

button:hover {
    transform: scale(1.05);
}

#quotes {
    background: white;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    box-shadow: .5rem .5rem .5rem gray;
    color: rgb(80, 79, 79);
    font-weight: 200;
    height: 90%;
    text-align: center;
    padding: 2%;
    width: 80%;
    margin: 5% 10% 10% 10%;
}

hr {
    border: 1.5px solid darkslategrey;
}

.rate {
    transition: all .3s;
}

.rate:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.05);
}

footer {
    background: whitesmoke;
    border-top: 2px solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    margin: -1%;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}